body {
  background-color: gray;
  font-family: Roboto sans-serif;
}

.logo {
  background-size: cover;
  background-image: url("../src/assets/img/green-forest-road.jpg");
  width: 300px;
  height: 300px;
}